[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
jupyter = "*"
scikit-learn = "*"
pandas = "*"
seaborn = "*"
hyperopt = "*"
xgboost = "*"
fastparquet = "*"
boto3 = "*"
prefect = "*"
evidently = "==0.7.10"
psycopg = "==3.2.9"
psycopg-binary = "==3.2.9"

[dev-packages]

[requires]
python_version = "3.13"
